<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
							 http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0"> 
      
    <context-param>  
        <param-name>webAppRootKey</param-name>  
        <param-value>helloworld.root</param-value>  
    </context-param>  
  
    <servlet> 
		<servlet-name>Helloworld</servlet-name> 
		<servlet-class>com.bingo.helloworld.HelloWorld</servlet-class> 
	</servlet> 
	
	<servlet-mapping> 
		<servlet-name>Helloworld</servlet-name> 
		<url-pattern>/</url-pattern> 
	</servlet-mapping> 
  
</web-app>  